#html {
    background-color: #e3dede;
}

#error {
    background-color: #e3dede;
}

#description {
    color: black;
}

#textCompany, #textFlight, #textDestination, #textTime, #textChangedTime, #textNotice, #pullDown, #pullForm {
    color: black;
}

.color {
    color: #FFFFF3;
}

.color2 {
    color: #FFFFF3;
}

header {
    background-color: #8c9184;
}

#parametersBtn {
    text-align: center;
    color: #FFFFF3;
    border: 2px solid #000;
    background: #3f4040;
}

#parametersBtn:hover {
    color: black;
    background: #FFFFF3;
}

#outputBtn {
    color: white;
    border: 2px solid black;
    background: #3f4040;
    transition: 0.5s;
}

#outputBtn:hover {
    color: black;
    background: #FFFFF3;
}

main {
    background-color: #333030;
}

#changedTime {
    color: #333030;
    background-color: #FFFFF3;
}