html {
    max-width: 100%;
    height: auto;
    background-color:#E0E3DA;
}

#error {
    text-align: center;
    color: red;
    background-color:#E0E3DA ;
    font-size: 20px;
    height: 0px;
}

.error {
    display: inline-block;
}

#description {
    color: black;
}

#textCompany, #textFlight, #textDestination, #textTime, #textChangedTime, #textNotice {
    color: black;
    display: inline-block;
}

#outputBtn{
    text-align: center;
    color: white;
    border: 2px solid black;
  border-radius: 0;
  background: #519D9E;
  transition: 0.5s;
  width: 100px;
  height: 30px;
}

#outputBtn:hover{
    color: black;
    background: #FFBC42;
    cursor: pointer;
}

body {
    margin: 0px auto;
    width: 1280px;
}

.color{
    color:#E0E3DA;
}

.color2{
    color: white;
}

header {
    background-color:#58C9B9;
    height: 118px;
}

#header-text{
    text-align: center;
}


#p-btn{
    float: right;
    display: block;
}

#parametersBtn{
    text-align: center;
    color: white;
    border: 2px solid #000;
  border-radius: 0;
  background: #519D9E;
  transition: 0.5s;
  width: 100px;
  height: 30px;
}

#parametersBtn:hover{
    color: black;
    background: #FFBC42;
    cursor: pointer;
}

.gate {
    margin: 0px;
    font-size: 58px;
    padding-top: 20px;

}

#today {
    margin: 0px 0px 0px 20px;
    font-size: 58px;
    display: inline-block;
}

main {
    background-color: #519D9E;
    height: 650px;
}

p {
    display: inline-block;
}

.first_line {
    font-size: 33px;
    margin-left: 50px;
    margin-right: 50px;
}

.first_1 {
    width: 590px;
}

.first_2{
    width: 550px;
}

.second_line {
    font-size: 42px;
    margin-left: 50px;
}

#company {
    display: inline-block;
    width: 590px;
}

#flight {
    display: inline-block;
    width: 550px;
}

.left {
    font-size: 33px;
    margin-left: 50px;
    float: left;
    width: 600px;
    height: 400px;
}

#destination {
    font-size: 100px;
}

.right_1 {
    font-size: 33px;
}

.right_line {
    margin-right: 200px;
}

#change {
    display: inline-block;
}

.right_2 {
    font-size: 67px;
}

#time {
    display: inline-block;
}

#changedTime {
    display: inline-block;
    color:  #519D9E;
    background-color:#E0E3DA ;
    padding: 0px 30px 0px 30px;
}

.right_3 {
    font-size: 33px;
}

#notice {
    font-size: 42px;
}

input[type=text] {
    width: 200px;
    height: 15px;
}
