body {
    margin: 0px;
}

header {
    background-color: #ccc;
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.gate {
    color: #666;
    margin: 0px;
    font-size: 58px;
}

#today{
    color: #666;
    margin: 0px 0px 0px 20px;
    font-size: 58px;
    display: inline-block;
}

main {
    background-color: #369;
}

p {
    display: inline-block;
}

.first_line {
    color: cornsilk;
    font-size: 33px;
    margin-left: 50px;
}

.first_line_1 {
    margin-right: 200px;
}

.third_line{
    color: cornsilk;
    font-size: 33px;
    margin-left: 50px;
}

.third_line_1{
    margin-right: 350px;
}

.third_line_2{
    margin-right: 200px;
}

.fourth_line{
    color: cornsilk;
    font-size: 33px;
    margin-left: 50px;
}

.fifth_line{
    color: cornsilk;
    font-size: 33px;
    margin-left: 50px;
}